.lead__subtitle{
    max-width: 640px;
    font-family: 'Inter', arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    margin: 32px auto 64px auto;
}

@media screen and (max-width: 1024px){
    .lead__subtitle{
        margin: 32px auto 56px auto;
    }
}

@media screen and (max-width: 720px){
    .lead__subtitle{
        padding: 0 16px;
        font-size: calc(16px + 24 * ((100vw - 320px) / (720 - 320)));
    }
}

@media screen and (max-width: 320px){
    .lead__subtitle{
        margin: 16px auto 40px auto;
    }
}