.place{
    margin: 80px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    gap: 48px 40px;
}

.place:first-child{
    margin-top: 92px;
}

@media screen and (max-width: 1024px){
    .place{
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
      gap: 48px 28px;
      margin-top: 73px;
    }
    .place:first-child{
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px){
    .place:first-child{
        margin-top: 64px;
    }

    .place{
        margin-top: 50px;
        gap: 32px;
    }
}